body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  margin: 0;
  overflow: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(36, 36, 36);
  max-height: 50px;
}

li {
  float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li :hover {
  background-color: #111;
}
button {
  background-color: rgba(36, 36, 36);
  border: none;
  color: #fff;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  align-items: center;
}
.active{
  background-color: rgba(148, 255, 102,0.6);
}

.paint_area{
  margin-top: 14px;
  height: calc(100% - 40px);
}
.slider{
  padding: 0px 12px;
  display: flex;
  flex-wrap: nowrap;
}
.slider > p{
  padding: 0px 8px;
}
////////////


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgba(30,30,30);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(60,60,60,0.2);
  z-index: 2;

}

.dropdown-content button {
  
  background-color: rgba(30,30,30);
  padding: 10px 14px;
}
.drop_2 button {
  display: block;
  padding: 5px 14px;
}

.dropdown:hover .dropdown-content{
  display: block;
}

/*text input pop up*/
.textEntry,.imageEntry {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}
.close,.close1{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ok,.ok_img{
  color: #aaaaaa;
  font-size: 14px;
  font-weight: bold;
}
.close:hover,.close1:hover,
.close:focus,.close1:focus,
.ok:hover,
.ok:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.ok_img:hover,
.ok_img:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-top:10px;
  margin-bottom: 30px;
}
.Fonts{
  text-align: center;
  padding: 3px 0px;
}
.img{
  display: none;
}

.locked_frame{
  position: absolute;
  z-index: 0;
}

.paint{
  position: absolute;
  z-index: 1;
}
